@use 'variables' as *;

/** navigation button **/
.navigation-menu-button {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;

  &:focus,
  &:hover {
    .navigation-menu-button-container {
      background: $color-hover;
      border-top-color: $color-hover;
    }

    .navigation-menu-button-corner {
      border-left-color: $color-hover;
    }
  }

  .navigation-menu-button-container {
    display: inline-block;
    background: $color-primary;
    color: $color-white;
    width: 30px;
    border: none;
    border-top: solid 1px $color-daren;
  }

  .navigation-menu-button-content {
    transform: rotate(-180deg);
    writing-mode: tb-rl;
    display: inline;
    padding-bottom: 3px;
  }

  .navigation-menu-button-corner {
    border-bottom: 15px solid transparent;
    border-left: 30px solid $color-primary;
  }
}

/** navigation **/
::ng-deep .navigation > * {
  padding-left: 30px;
}

.navigation {
  background: $color-gray-light;
  border-right: solid 1px $color-gray;
  position: relative;
  transition: width, 0.2s;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

  > * {
    padding-left: 5px;
    padding-right: 5px;
  }

  .navigation-close {
    text-align: right;

    .navigation-close-button {
      color: $color-primary;
      background: transparent;
      border: none;
      outline: none;
      padding: 10px 5px 10px 10px;
      cursor: pointer;
    }
  }

  &.navigation-closed {
    border: none;
  }
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (width <= 600px) {
  .navigation {
    position: absolute;
    height: calc(100% - 50px);
    z-index: 1;
  }
}
