<div>
  {{ 'CRYPTO.PREVIEW_ENCRYPTION_CERTIFICATE' | translate }}
</div>

<div class="content">
  @if (certificates.length > 0) {
    <table>
      <tr>
        <th>{{ 'CRYPTO.COMMON_NAME' | translate }}</th>
        <th>{{ 'CRYPTO.THUMBPRINT' | translate }}</th>
      </tr>
      @for (certificate of certificates; track certificate) {
        <tr>
          <td>{{ certificate.commonName }}</td>
          <td>{{ certificate.thumbprint }}</td>
        </tr>
      }
    </table>
  } @else {
    <em>{{ 'CRYPTO.NO_CERTIFICATES_FOUND' | translate }}</em>
  }

</div>
