<h2>{{ 'ROUTES./welcome' | translate }}</h2>
<div class="flex">
  <app-select-files
    class="flex1"
    icon="fa-file-zip-o"
    [description]="'SELECT_FILES.DATA' | translate"
    (fileChanged)="addFiles($event)"
  ></app-select-files>
  <div class="flex1 list">
    @for (group of fileGrouped; track group) {
      <div class="list-title">
        {{ 'FILE_CATEGORY_' + group.name | translate }}
      </div>
      @for (item of group.values; track item) {
        <div class="list-item flex" (click)="logger(item)">
          <div [title]="item.file.name" class="flex1 filename">{{ item.file.name }}</div>
          @if (item.isRunning) {
            <span><app-spinner [size]="'13px'"></app-spinner></span>
          }
          <div title="entfernen" class="remove fa fa-times" (click)="removeElement(item.file.name)"></div>
        </div>
      }
      @if (group.name === 'CRYPT') {
        <button class="abra-button-primary decrypt-button" (click)="displayCertificateSelection = true">
          {{ 'FILE_DECRYPT' | translate }}
        </button>
      }
    }
  </div>
</div>

<div class="post-signature-content">
  <h3>{{ 'POST_SIGNATURE_VALIDATION.KEYSTORE_SECTION' | translate }}</h3>
  <app-file-input label="POST_SIGNATURE_VALIDATION.KEYSTORE_CERTIFICATE"
    [(path)]="keystoreCertificatePath"
  [accept]="allowedKeystoreCertificatePathExtensions"></app-file-input>
  <app-file-input label="POST_SIGNATURE_VALIDATION.KEYSTORE_PASSWORD"
    [(path)]="keystorePasswordPath"
  [accept]="allowedKeystorePasswordPathExtensions"></app-file-input>
</div>

@if (enablePreview) {
  <button class="abra-button-primary" (click)="complete()">{{ 'NEXT_TO_VALIDATE' | translate }}</button>
}
