@use 'sass:color';
@use 'variables' as *;

/** button **/
$button-radius: 5px;

// Colors
$primary-color: #3c6582;
$primary-color-hover-old: #3288ac;
$primary-color-hover: color.scale(color.adjust($primary-color, $saturation: 15%), $lightness: 15.9375%); // stylelint-disable-line
$primary-color-highlight: #b5e2de;
$error-color-dark: #d2232a;
$error-color-dark-hover: color.scale(color.adjust($error-color-dark, $saturation: 15%), $lightness: 15.6923%); // stylelint-disable-line
$error-color-light: #ffc8b9;
$warn-color: #ffa000;
$warn-color-hover: color.scale(color.adjust($warn-color, $saturation: 15%), $lightness: 15.9375%); // stylelint-disable-line
$info-color: #1c69ce;
$info-color-hover: color.scale(color.adjust($info-color, $saturation: 15%), $lightness: 15.9375%); // stylelint-disable-line
$success-color: #1c9048;
$success-color-hover: color.scale(color.adjust($success-color, $saturation: 15%), $lightness: 15.9375%); // stylelint-disable-line
$local-environment: #936;
$sta-environment: #5b9bd5;
$pre-environment: #ffc000;
$prod-environment: #da321f;
$black-color: #232323;
$white-color: #fff;
$gray-color: #ccc;
$gray-color-dark: #969696;
$gray-color-light: #e9e9e9;
$font-color: $black-color;

// font
$font-size: 13px;
$font-family: 'Open Sans', arial, helvetica, sans-serif;

// size
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$headerHeight: 54px; // stylelint-disable-line
$navigation-width: 245px;
$btn-border-radius: 4px;

@mixin no-text-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none;
}

@mixin text-selection {
  -webkit-touch-callout: initial; /* iOS Safari */
  user-select: initial;
}
