@use 'variables_old' as *;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: $primary-color;
  position: fixed;
  right: 40px;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgb(100 100 100 / 40%);
  color: white;
  cursor: pointer;

  &:hover {
    background-color: $primary-color-hover;
  }

  i {
    font-size: 24px;
  }
}
