@use 'variables' as *;
@use 'button' as *;

.abra-header {
  background: $color-primary;
  color: $color-white;
  height: 50px;
  display: flex;
  padding: 0 10px;
  align-items: center;

  > * {
    display: flex;
    align-items: center;
  }

  .abra-header-left {
    white-space: nowrap;
    cursor: pointer;

    .abra-logo {
      height: 25px;
      width: 25px;
      margin: 5px 15px 5px 5px;
    }

    .abra-application-title {
      font-size: 25px;
    }
  }

  .abra-header-center {
    flex: 1;
  }

  .abra-header-button {
    @extend .abra-button-secondary;

    border-color: $color-daren;
    color: $color-daren;
    border-radius: 50%;
    min-width: 35px;
    width: 35px;
    height: 35px;
    font-size: 19px;
    padding: 0;
    margin: 0 5px;
  }
}
