@use 'variables' as *;

a {
  color: $color-primary;
  text-decoration: none;
}

.download-link {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover:not(.disabled) {
    text-decoration: underline;
  }

  &.disabled {
    color: #999;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
