@use 'variables' as *;
@use 'variables_old' as *;

:host {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1 1 auto;
  align-items: center;

  .drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      margin: 10px;
      width: 100px;
      height: 100px;
      border: 1px solid $gray-color;
      border-radius: 50%;
      transition: all 0.3s ease;
      color: $gray-color-dark;
    }

    .file-count {
      display: flex;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 5px;
      align-items: center;
      justify-content: center;
      background: $success-color;
      color: white;
      font-family: $font-family;
      font-size: 12px;
    }

    &.can-drop,
    &:hover {
      .icon {
        color: $primary-color;
        border-color: $primary-color;
      }
    }

    .drop-layer {
      height: 100%;
      width: 100%;
      position: absolute;
    }

    &.has-files {
      .icon {
        color: $success-color;
        border-color: $success-color;
      }
    }

    &.loading {
      cursor: default;

      .file-count {
        background: $gray-color;
      }

      .icon {
        color: $gray-color;
        border-color: $gray-color;
      }
    }

    &.failed {
      .file-count {
        background: $error-color-dark;
      }

      .icon {
        color: $error-color-dark;
        border-color: $error-color-dark;
      }
    }
  }

  .description {
    margin-top: 10px;
    max-width: 260px;
  }

  .progress-container {
    max-width: 100px;
    width: 100%;
    height: 4px;
  }
}
