<div
  class="drop-zone"
  [class.can-drop]="canDrop === true"
  [class.loading]="status === STATUS.Loading"
  [class.failed]="status === STATUS.Failed"
  [class.has-files]="files?.length"
  (click)="status !== STATUS.Loading ? filePicker.click() : 0"
  >
  <em [class]="'icon fa ' + (files?.length ? '' : icon)">
    @if (files?.length) {
      <span class="file-count">{{ files.length }}</span>
    }
  </em>
  <input type="file" #filePicker (change)="fileChanged.emit((files = convert($event.target.files)))" class="display-none" multiple />
  <div
    class="drop-layer"
    (dragenter)="dragEnter($event)"
    (dragover)="dragOver($event)"
    (dragleave)="dragLeave($event)"
    (drop)="drop($event)"
  ></div>
</div>
<div class="progress-container">
  @if (status === STATUS.Loading) {
    <app-indeterminate-progress></app-indeterminate-progress>
  }
</div>
<ng-content></ng-content>
<div class="description" [innerHTML]="description"></div>
